
body {
	background: #000000;
	color: #FFFFFF;
	
	padding: 1rem 2rem;
}

.container {
	width: 90%;
}

#clock {
	width: 75%;
	padding: 0px;
	margin: 0px;
	display: block;
	vertical-align: middle;
}

#clock-col {
	display: flex;
	align-items: center;
  justify-content: center;
}
